/* /* .container1-fluid{
    width: 20%;
    height: 30%;
    display: flex; justify-content: center;
    padding-top: 100px;
    padding-left: 50%;
    padding-bottom: 40px;
   border-style: dotted;
} */
/* 
#pke{
    display: block;
    width: 200px;
    border
}



.container2 {

}

.container-fluid {
   
} */ 

